.navibar{
    display: inline-block;
    padding: 20px;
}
.navibar a:hover{
    color: rgb(94, 94, 94);
}

nav{
    border: black 1px solid;
}

article{
    border: black 1px solid;
}

h2 a{
    color: black;
    text-decoration: none;
}

button a{
    color: gray;
}

button a:hover{
    color: white;
    margin: 10px;
}

#paddingboton{
    padding-bottom: 20px;
}

.titulo{
    padding-bottom: 25px;
    padding-top: 25px;
}

.centrar{
    text-align: center;
}

.borde{
    border: 1px black solid;
    margin: 20px;
}